@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --black: #0C090A;
  --yellow: #EDC71B;
  --white: #FFFFFF;
  --grey: #EDEDF1;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

/* ======================
      Typography
====================== */

a {
  text-decoration: none;
  color: var(--black);
}

h1 {
  font-size: 3rem;
}

.content p {
  width: 20%;
}

.card h3 {
  margin-bottom: 0;
  font-weight: 500;
  text-align: center;
}

/* ======================
      Layout
====================== */

header, .home-container,
.users, .login-card, .layout,
.nav-links, .overviewCards,
.card, .calendarCards, .staff {
  display: flex;
}

header, .users,
.overviewCards, 
.calendarCards {
  justify-content: space-between;
}

header, .login-card,
.card {
  align-items: center;
}

.nav-links a{
  margin: .5em 0;
}

header {
  margin: 1em auto;
  width: 90%;
}

.home-container, .login-card,
.nav-links, .card, .staff {
  flex-direction: column;
}

.home-container {
  background-image: url(assets/background.svg);
  background-size: cover;
  height: 90vh;
  padding: 1em;
  background-position: center;
}

.content {
  margin: auto;
  width: 90%;
}

button {
  cursor: pointer;
}

.login-link  {
 border: 1px solid white;
}

.content button, .login-link,
.users button, .login-card a,
.mealPass button, .addNew {
  padding: .8em 1.2em;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 8px;
  border: none;
  font-size: 1rem;
  font-weight: 500;
}

.login-card input {
  padding: .6em 1em;
  border: 1px solid var(--yellow);
}

.mealPass button, .addNew {
  background-color: var(--yellow);
}

.addNew {
  margin-top: 2em;
}

.mealPass {
  margin: 1em auto;
  font-size: .8rem;
}

.login-card a {
  border: 1px solid var(--yellow);
  margin: 1em 0;
}

.login-card input {
  margin-bottom: 16px;
}

.login-link  {
  border: 1px solid white;
  padding: .5em 2em;
}

.login-page {
  background-color: var(--yellow);
  height: 100vh;
  padding: 1em;
}

.users, .login-card img  {
  width: 50%;
}

.users, .login-card {
  padding: 0;
  margin: 2em auto;
}

.login-card {
  background-color: white;
  width: 30%;
  padding: 1em 0;
}

.users button {
  width: 31%;
}

.nav-box {
  background: var(--yellow);
  width: 20%;
  height: 100vh;
  padding: 1em;
}

.dashBoard {
  padding: .5em;
}

.card {
  width: 22%;
  background-color: var(--white);
  justify-content: center;
  padding: .5em;
  height: 150px;
}

.users input {
  width: 80%;
  margin-bottom: 1em;
}

.calendar {
  width: 30%;
  background-color: var(--white);
}

.dashBoard {
  background-color: var(--grey);
  width: 80%;
  padding: 1em;
  height: 100vh;
}

#employee {
  padding: 1.5em;
}

.react-calendar {
  background-color: var(--white);
  border-radius: 5px;
  padding: .5em;
}

.overviewCards, 
.calendarCards {
  width: 90%;
  margin: 2em auto;
}

.staffInfo th, .staffInfo td {
  border: 1px solid var(--white);
  padding: .5em;
  font-size: .9rem;
}

.staffInfo th {
  background-color: grey;
}

.staffInfo td {
  background-color: white;
}

.modal-card {
  position: absolute;
  background-color: white;
}

.modal-card input {
  display: block;
  margin-bottom: .5em;
  top: 20%;
}

.staffInfo {
  width: 80%;
  margin: auto;
  border-collapse: collapse;
}

/* ======================
      Media Query
====================== */

@media (max-width: 600px) {
  .home-container, .users,
  .login-card, .dashBoard,
  .nav-box, .card, .calendar {
    width: 100%;
  }

  .dashBoard h2 {
    text-align: center;
  }

  .logo {
    width: 150px;
  }

  .card {
    margin-bottom: 1em;
  }

  .nav-box, .dashBoard {
    height: auto;
  }

  .overviewCards, .layout {
    flex-direction: column;
  }

  h1 {
    text-align: center;
    font-size: 2.2rem;
  }

  .content p {
    width: 80%;
  }

}